@mixin product-display {
    padding: 0 2em;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    font-family: system-ui;
    transition: all 1s;
}

.skeleton-wrap {
    @include product-display;
}

.products {
    @include product-display;
}