@use "../../../styles/mixins" as *;
$primary-margin: 1em;

.this-wrapper {
    @include complete-flex;
    padding: $primary-margin;

    .image-holder {
        border-radius: $primary-margin;
        overflow: hidden;
        width: 400px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFF;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}