@use "../../styles/mixins" as *;
$shadow: 0px 4px 8px -1px #0000001a, 0px 1px 2px -2px #0000001a;
$wrap-margin: calc(var(--margin) + calc(var(--margin) / 4));

@mixin product-display {
    padding: 0 2em;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    font-family: system-ui;
    transition: all 1s;
}

.cart-card {
    @include complete-flex;
    justify-self: center;
    font-family: system-ui;
    display: flex;
    padding: 0 var(--margin);
    border-radius: calc(var(--margin) + calc(var(--margin) / 4));
    box-shadow: $shadow, $shadow;
    height: clamp(10em, 11em, 12em);
    width: 90vw;

    .left {
        display: flex;
        gap: var(--margin);
        overflow: hidden;
        height: 100%;
        width: 100%;

        .image-holder {
            align-self: center;
            height: clamp(50%, 70%, 80%);
            width: clamp(50%, 70%, 80%);
            overflow: hidden;
            border-radius: var(--margin);
            flex: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                transition: .5s;
            }
        }

        .product-details {
            display: grid;
            flex: 4;
            align-self: center;
            gap: var(--margin);

            .name {
                font-weight: bold
            }

            button {
                @include theme-button;
                box-shadow: none;
                background: transparent;
                border: none;
                width: fit-content;
                height: fit-content;
                padding: .5em;
                color: oklch(63.7% 0.237 25.331);
                transition: all .1s linear;

                &:hover {
                    background: var(--dark-theme-color);
                    border: none;
                    transform: scale(.9);
                }
            }
        }
    }

    .right {
        height: 100%;
        @include complete-flex;
        margin-left: auto;
        gap: 1em;

        .quantity {
            display: flex;
            border: 1px solid var(--shadow);
            border-radius: .5em;
            align-items: center;

            button {
                color: #4A5565;
                background: transparent;
                border: none;
            }

            span {
                font-size: 0.875rem;
                line-height: calc(1.25 / 0.875);
                padding-block: 0.25rem;
                padding-inline: 12px;
            }

            @media (width >=40rem) {
                :where(.sm\:space-x-8 > :not(:last-child)) {
                    margin-inline-start: calc(calc(var(--spacing) * 8) * var(--tw-space-x-reverse));
                    margin-inline-end: calc(calc(var(--spacing) * 8) * calc(1 - var(--tw-space-x-reverse)));
                }
            }
        }

        .total-price {
            font-weight: bold;
        }
    }
}

.wrapper{

    .span-wrap{
        margin: 0 0 4em 2em;
        font-weight: bold;

        span{
            font-weight: 100;
            color: var(--theme-color);
        }
    }
}
.cart-wrapper {
    display: grid;
}

.checkout {
    padding: calc(var(--margin) * 2) 0;
    display: grid;
    place-items: center;

    button {
        @include theme-button;
        transition: all 1s ease-in-out;
        animation: bounce infinite 1s ease-in-out;


        @keyframes bounce {

            0%,
            100% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(2.5px);
            }

            25%,
            75% {
                transform: translateY(5px);
            }
        }
    }
}