@use "../../../styles/mixins" as *;

$shadow: 0px 4px 8px -1px #0000001a, 0px 1px 2px -2px #0000001a;

.wrap {
    margin-bottom: auto;
    @include complete-flex;
    flex-direction: column;
    gap: var(--margin);

    @media (max-width: 1024px) {
        margin: 2em;
        align-items: flex-start;
    }

    .cart {
        @include theme-button;
    }

    .quantity {
        align-self: flex-start;
        @include complete-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: calc(var(--margin) / 5);
        margin: 0 0 0 calc(var(--margin) * 3);

        @media (max-width: 1024px) {
            margin: 0;
        }

        span {
            font-weight: bold;
            letter-spacing: 1.5px;
        }

        .count {
            height: calc(var(--margin) * 2);
            @include complete-flex;
            gap: .25em;
            border-radius: 1rem;
            min-width: calc(var(--margin) * 11);
            text-align: center;
            box-shadow: $shadow, $shadow, $shadow, $shadow;

            & :nth-child(1) {
                border-radius: 50% 0 0 50%;
            }

            & :nth-child(3) {
                border-radius: 0 50% 50% 0;
            }

            button {
                height: 100%;
                width: 20%;
                border: none;
                font-weight: bold;
                font-size: 1em;
                background: var(--theme-color);
                cursor: pointer;
                box-shadow: $shadow, $shadow;
            }

            span {
                font-weight: 400;
                letter-spacing: normal;
                width: 60%;
                border-radius: 0;
            }
        }

        .error-text {
            font-weight: normal;
            color: red;
            font-size: 10px;
        }
    }
}