.intro {
    text-align: center;
    font-family: system-ui;
    display: grid;
    place-items: center;
    margin-bottom: 2rem;

    h1 {
        color: var(--theme-color)
    }

    p {
        margin-top: .5rem;
        max-width: 350px;
        align-self: center;
        font-size: 1rem;
        line-height: 1.5;
        font-family: 'Segoe UI';
    }
}