@use ".././../styles/mixins" as *;

.footer{
    border-top: 1px solid;
    margin: 2rem;
    padding-top: 1em;
    font-family: system-ui;

    *{
        margin: 0;
    }

    div{

        h2{
            @include color-split;
            font-weight: 400;
            margin-bottom: .5em;
        }

        .contact-wrap{
            margin-top: 1em;
            display: grid;
            gap: 1em;

            svg{
                color: var(--theme-color);
            }

            .line{
                @include complete-flex;
                justify-content: flex-start;
                gap: 1em;
            }
        }

        .social-media{
            margin: 1em 0 1.5em 0;
            display: flex;
            gap: 1em;

            a{
                background: rgb(200, 200, 200);
                color: var(--text);
                border-radius: 50%;
                padding: 10px;
            }
        }

        .shop{
            margin: 1em 0 1.5em 0;

            & :nth-child(1) {
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
    }    
}