:root{
    --theme-color: lab(72.7923% 26.9413 75.4637);
    --dark-theme-color: lab(59.6% 25.35 66.11);
    --text-color: black;
    --bg: white;
    --shadow: lightgray;
    --margin: 1em;
    --grey: lightslategray;
    font-family: system-ui;
}

html{
    scrollbar-width: none;
}

body{
    margin: 0;
}

.Loader{
    display: grid;
    padding: 8px;
    gap: 1em;
}