@mixin color-split {
    color: var(--text-color);

    & :nth-child(2) {
        color: var(--theme-color);
    }
}

@mixin complete-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}